body {
    background-color: black;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

header {
    padding: 0.5rem;
}

.purple {
    background-color: #6B0B7E;
}

form {
    gap: 0.3rem;
}

input,
button {
    width: 20rem;
    height: 2rem;
    outline: none;
    border: none;
}

.grayColor {
    background-color: #0F0F0F;

}

.flex {
    display: flex;
}

.center {
    justify-content: center;
}

.column {
    flex-direction: column;
}

.alignCenter {
    align-items: center;
}

body {
    width: 30rem;
    height: 30rem;
}

a {
    color: white;
    text-decoration: dashed;
}

.pcolor {
    color: #6B0B7E;
}

.space {
    justify-content: space-around;
}

.white {
    color: white;
}

h4 {
    display: flex;
    justify-content: center;
}